@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
.conteiner {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}
.icon {
  color: #000;
}

.links_content {
  list-style: none;
  
}
.icon_size {
  font-size: 50px;
}


.links_item {
  position: relative;
  cursor: pointer;

  padding: 50px 0px;
  transition: all 0.3s ease;
}


.links_item:hover .list,
.link_menu:hover .list_about,
 .links_item:hover{
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.header {
  background-color: rgba(120, 120, 120, 0.7);

  box-shadow: 13px 10px 30px 9px #000;
  border-radius: 5px 5px 20px 20px;
}
.link_size {
  font-size: 24px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease;
}
.link_size:hover {
  color: white;
}
.child_link{
  cursor: pointer;
  transition: all 0.3s ease;
}
.hover_link{
  cursor: pointer;
  transition: all 0.3s ease;
}
.hover_link:hover .l_hover,
.child_link:hover .l_about{
color: #fff;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links_content {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.other_page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

}
.hover{
  cursor: pointer;
  transition: all 0.3s ease;
}
.hover:hover{
  color: #fff;
}
.about_list{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.about_list:hover{
  color: #fff;
}
.link_menu {
  padding: 10px;
  border: 1px solid black;
  list-style: none;
  cursor: pointer;
  position: relative;
}

.list {
  position: absolute;
  top: 129px;
  background-color: rgba(120, 120, 120, 0.7);
  box-shadow: 3px 3px 10px 1px;
  left: 0;
  border-radius: 10px;
  border: 1px solid black;
  width: 250px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateY(-129px);
  
  cursor: pointer;
}



.list_about {
  position: absolute;
  top: 129px;
  background-color: rgba(120, 120, 120, 0.7);
  box-shadow: 3px 3px 10px 1px;
  left: 247px;
  top: -2px;
  width: 200px;
  border-radius: 10px;
  border: 1px solid black;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateX(-247px);
  
  cursor: pointer;
}